designs/server/services/ids.json
[
    {
        "id": "sd_CXz3EvC2oRyYAb6U",
        "type": "tab",
        "createdDate": "2019-12-04T10:42:13.097Z",
        "label": "ids",
        "disabled": false,
        "info": "",
        "generateNext": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_NbU60r3tV5nDuIPb",
        "type": "HttpIn",
        "z": "sd_CXz3EvC2oRyYAb6U",
        "viewType": "server",
        "nodeType": "start",
        "name": "Login API",
        "path": "/login",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "get",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "httpOptions": {
            "/login": {
                "get": {
                    "summary": "",
                    "description": "",
                    "consumes": [],
                    "produces": [],
                    "parameters": [],
                    "responses": {}
                }
            }
        },
        "uploadFileOptions": {},
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "category": "HTTP",
        "x": 92,
        "y": 286.953125,
        "wires": [
            [
                "sd_Owgy3F8f7DbYAXm8"
            ]
        ],
        "generateNext": true,
        "serviceName": "ids",
        "functionName": "sd_NbU60r3tV5nDuIPb"
    },
    {
        "id": "sd_bSocwDzpWdQHrMTR",
        "type": "Script",
        "z": "sd_CXz3EvC2oRyYAb6U",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Create session details",
        "script": "bh.local.reqParams = {\n    state : crypto.randomBytes(16).toString('hex'),\n    nonce : crypto.randomBytes(16).toString('hex'),\n    isMobile : bh.input.query.isMobile,\n    redirectTo : bh.input.query.redirectTo\n};",
        "functionName": "sd_bSocwDzpWdQHrMTR",
        "category": "Function",
        "x": 618,
        "y": 168.21875,
        "wires": [
            [
                "sd_lQUhCdJtYeyleTO1"
            ]
        ],
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_lQUhCdJtYeyleTO1",
        "type": "Session",
        "z": "sd_CXz3EvC2oRyYAb6U",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "update",
        "data": "",
        "resultMapping": "",
        "dataMapping": "bh.local.reqParams",
        "functionName": "sd_lQUhCdJtYeyleTO1",
        "category": "HTTP",
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.input",
                "value": ""
            },
            "dataMapping": {
                "type": "bh.local",
                "value": "reqParams"
            }
        },
        "x": 763,
        "y": 410,
        "wires": [
            [
                "sd_4Cz4UGzHPSnXT9e0"
            ]
        ],
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_FO8XCRwVJpu5b60d",
        "type": "Script",
        "z": "sd_CXz3EvC2oRyYAb6U",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Calculate IDS login redirect URL",
        "script": "const authorizationRequest = Object.assign({\n    redirect_uri: url.resolve(bh.web.req.href, '/api/login/cb'),\n    scope: 'openid profile email address phone user',\n    state: bh.local.reqParams.state,\n    nonce: bh.local.reqParams.nonce,\n    response_type: bh.input.client.response_types[0],\n}, bh.input.authParams);\n\nbh.local.redirectHeaders = {\n    location: bh.input.client.authorizationUrl(authorizationRequest)\n};\n",
        "functionName": "sd_FO8XCRwVJpu5b60d",
        "category": "Function",
        "x": 1194,
        "y": 160,
        "wires": [
            [
                "sd_fMhPTWWzTbRsfjeN"
            ]
        ],
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_4Cz4UGzHPSnXT9e0",
        "type": "CallService",
        "z": "sd_CXz3EvC2oRyYAb6U",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Get IDS client instance",
        "outputs": 1,
        "noerr": 0,
        "service": {
            "serviceId": "sd_XW085r0Bmfy8m1IO",
            "serviceName": "idsutil"
        },
        "flow": {
            "flowId": "sd_XNet6LuWPVqD0XcY",
            "flowName": "getIDSClientInstance"
        },
        "inputVariables": [
            {
                "key": "clientInstance",
                "map": true,
                "valueType": "bh.input",
                "value": ""
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "input",
                "key": "clientInstance",
                "valueType": "bh.input",
                "value": "client",
                "mapVarName": "clientInstance",
                "localVar": "bh.input.client"
            }
        ],
        "callService": "idsutil",
        "startName": "getIDSClientInstance",
        "inputParams": [
            null
        ],
        "accept_bh": false,
        "functionName": "sd_4Cz4UGzHPSnXT9e0",
        "category": "General",
        "x": 903.8125,
        "y": 173.984375,
        "wires": [
            [
                "sd_ChbBLBzMhmCkrfts"
            ]
        ],
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_fMhPTWWzTbRsfjeN",
        "type": "HttpOut",
        "z": "sd_CXz3EvC2oRyYAb6U",
        "viewType": "server",
        "nodeType": "flow",
        "name": "Redirect to IDS",
        "headers": {
            "type": "bh.local",
            "value": "redirectHeaders",
            "ssd_typedInputField": true
        },
        "responseBody": {
            "type": "literal",
            "value": "'redirecting'",
            "ssd_typedInputField": true
        },
        "httpcode": "302",
        "responseType": "obj",
        "responseMapping": {
            "status": 302,
            "obj": "'redirecting'",
            "send": "'redirecting'"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Value",
            "cookies": "Map"
        },
        "functionName": "sd_fMhPTWWzTbRsfjeN",
        "category": "HTTP",
        "x": 1343,
        "y": 408,
        "wires": [],
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_2mwAjPJDYd141KN7",
        "type": "Switch",
        "z": "sd_CXz3EvC2oRyYAb6U",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Check if client is registered",
        "property": "idsConfigured",
        "propertyType": "bh.local",
        "propertyGv": "bh.local.idsConfigured",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_2mwAjPJDYd141KN7",
        "category": "Function",
        "x": 388,
        "y": 286,
        "wires": [
            [
                "sd_bSocwDzpWdQHrMTR"
            ],
            [
                "sd_Ic6A6hsRZJoBhTDw"
            ]
        ],
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_Owgy3F8f7DbYAXm8",
        "type": "Script",
        "z": "sd_CXz3EvC2oRyYAb6U",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Assert IDS config",
        "script": "bh.local.idsConfigured = false;\nif (settings.default.hasOwnProperty('ids') && settings.default['ids'].hasOwnProperty('client_id') &&\n    settings.default['ids'].hasOwnProperty('client_secret')) {\n    bh.local.idsConfigured = true;\n}",
        "functionName": "sd_Owgy3F8f7DbYAXm8",
        "category": "Function",
        "x": 234,
        "y": 287,
        "wires": [
            [
                "sd_2mwAjPJDYd141KN7"
            ]
        ],
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_VH7pVWsv1qc23gIt",
        "type": "HttpOut",
        "z": "sd_CXz3EvC2oRyYAb6U",
        "viewType": "server",
        "nodeType": "flow",
        "name": "Send client not registered response",
        "headers": {},
        "responseBody": {
            "type": "literal",
            "value": "bh.local.res.message",
            "ssd_typedInputField": true
        },
        "httpcode": "404",
        "responseType": "obj",
        "responseMapping": {
            "status": 404,
            "obj": "bh.local.res.message",
            "send": "bh.local.res.message"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_VH7pVWsv1qc23gIt",
        "category": "HTTP",
        "x": 1341,
        "y": 286,
        "wires": [],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_Ic6A6hsRZJoBhTDw",
        "type": "Script",
        "z": "sd_CXz3EvC2oRyYAb6U",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Client not registered object",
        "script": "bh.local.res = {\n    message: 'IDS client not registered. Register on the Neutrinos Stuido and try again'\n}",
        "functionName": "sd_Ic6A6hsRZJoBhTDw",
        "category": "Function",
        "x": 617,
        "y": 291,
        "wires": [
            [
                "sd_VH7pVWsv1qc23gIt"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_zoTroEjOCQM0PP1e",
        "type": "MiddlewareStart",
        "z": "sd_CXz3EvC2oRyYAb6U",
        "viewType": "server",
        "nodeType": "start",
        "name": "hrefstart",
        "inputs": 0,
        "outputs": 1,
        "category": "HTTP",
        "x": 517,
        "y": 691.796875,
        "wires": [
            [
                "sd_wxUbkDcdi4EVFFvp"
            ]
        ],
        "generateNext": true,
        "serviceName": "ids",
        "functionName": "sd_zoTroEjOCQM0PP1e"
    },
    {
        "id": "sd_j20ub0uB4Vke8w3q",
        "type": "MiddlewareEnd",
        "z": "sd_CXz3EvC2oRyYAb6U",
        "viewType": "server",
        "nodeType": "flow",
        "name": "Href end",
        "headers": {},
        "responseBody": {
            "type": "literal",
            "value": "'end'",
            "ssd_typedInputField": true
        },
        "httpcode": "200",
        "responseType": "next",
        "responseMapping": {
            "status": 200,
            "next": "'end'"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_j20ub0uB4Vke8w3q",
        "category": "HTTP",
        "x": 819.890625,
        "y": 692.796875,
        "wires": [],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_wxUbkDcdi4EVFFvp",
        "type": "Script",
        "z": "sd_CXz3EvC2oRyYAb6U",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Calculate href",
        "script": "const protocol = bh.input.headers['x-forwarded-proto'] || bh.web.req.protocol;\nconst href = protocol + \"://\" + bh.web.req.get('Host') + bh.web.req.originalUrl;\nbh.web.req.href = href;",
        "functionName": "sd_wxUbkDcdi4EVFFvp",
        "category": "Function",
        "x": 665,
        "y": 692.78125,
        "wires": [
            [
                "sd_j20ub0uB4Vke8w3q"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_ChbBLBzMhmCkrfts",
        "type": "CallService",
        "z": "sd_CXz3EvC2oRyYAb6U",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Get Scope and consent values",
        "outputs": 1,
        "noerr": 0,
        "service": {
            "serviceId": "sd_XW085r0Bmfy8m1IO",
            "serviceName": "idsutil"
        },
        "flow": {
            "flowId": "sd_dPk8IkT3nSJmho6h",
            "flowName": "Get Authorization Params"
        },
        "inputVariables": [
            {
                "key": "authParams",
                "map": false,
                "value": ""
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "input",
                "key": "authParams",
                "valueType": "bh.input",
                "value": "authParams",
                "mapVarName": "authParams",
                "localVar": "bh.input.authParams"
            }
        ],
        "callService": "idsutil",
        "startName": "getAuthorizationParams",
        "inputParams": [
            ""
        ],
        "accept_bh": false,
        "functionName": "sd_ChbBLBzMhmCkrfts",
        "category": "General",
        "x": 1051,
        "y": 415.78125,
        "wires": [
            [
                "sd_FO8XCRwVJpu5b60d"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_qLPCZLcLt2oIYND8",
        "type": "HttpIn",
        "z": "sd_CXz3EvC2oRyYAb6U",
        "viewType": "server",
        "nodeType": "start",
        "name": "Login Callback API",
        "path": "/login/cb",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "get",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "httpOptions": {
            "/login/cb": {
                "get": {
                    "summary": "",
                    "description": "",
                    "consumes": [],
                    "produces": [],
                    "parameters": [],
                    "responses": {}
                }
            }
        },
        "uploadFileOptions": {},
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "category": "HTTP",
        "x": 88.890625,
        "y": 1038.796875,
        "wires": [
            [
                "sd_t67nT54Qf4mbyuXb"
            ]
        ],
        "generateNext": true,
        "serviceName": "ids",
        "functionName": "sd_qLPCZLcLt2oIYND8"
    },
    {
        "id": "sd_9H0AmFXI1QRHtvWD",
        "type": "CallService",
        "z": "sd_CXz3EvC2oRyYAb6U",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Get IDS client instance",
        "outputs": 1,
        "noerr": 0,
        "service": {
            "serviceId": "sd_XW085r0Bmfy8m1IO",
            "serviceName": "idsutil"
        },
        "flow": {
            "flowId": "sd_XNet6LuWPVqD0XcY",
            "flowName": "getIDSClientInstance"
        },
        "inputVariables": [
            {
                "key": "clientInstance",
                "map": true,
                "valueType": "bh.input",
                "value": ""
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "input",
                "key": "clientInstance",
                "valueType": "bh.input",
                "value": "client",
                "mapVarName": "clientInstance",
                "localVar": "bh.input.client"
            }
        ],
        "callService": "idsutil",
        "startName": "getIDSClientInstance",
        "inputParams": [
            null
        ],
        "accept_bh": false,
        "functionName": "sd_9H0AmFXI1QRHtvWD",
        "category": "General",
        "x": 453,
        "y": 1036.8125,
        "wires": [
            [
                "sd_r6c3nPn6lKuyhO17"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_r6c3nPn6lKuyhO17",
        "type": "Script",
        "z": "sd_CXz3EvC2oRyYAb6U",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Get userinfo and tokens ",
        "script": "const params = bh.input.client.callbackParams(bh.web.req);\nlet tokenset = await bh.input.client.callback(url.resolve(bh.web.req.href, 'cb'), params, {\n    'nonce': bh.input.sessionParams.data.nonce,\n    'state': bh.input.sessionParams.data.state\n});\n\nbh.local.redirectTo = bh.input.sessionParams.data.redirectTo\n\nbh.local.userDetails = {\n    tokenset: Object.assign({}, tokenset),\n    userInfo: await bh.input.client.userinfo(tokenset['access_token'])\n}\nbh.local.userDetails['tokenset']['claims'] = Object.assign({}, tokenset.claims());",
        "functionName": "sd_r6c3nPn6lKuyhO17",
        "category": "Function",
        "x": 616,
        "y": 1036.78125,
        "wires": [
            [
                "sd_u1e1hiu1iA5oZPCC"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_t67nT54Qf4mbyuXb",
        "type": "Session",
        "z": "sd_CXz3EvC2oRyYAb6U",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "get",
        "data": "",
        "resultMapping": "bh.input.sessionParams",
        "dataMapping": "",
        "functionName": "sd_t67nT54Qf4mbyuXb",
        "category": "HTTP",
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.input",
                "value": "sessionParams"
            },
            "dataMapping": {
                "type": "bh.input",
                "value": ""
            }
        },
        "x": 262,
        "y": 1038.796875,
        "wires": [
            [
                "sd_9H0AmFXI1QRHtvWD"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_sQorT2Fw9UrB9jBh",
        "type": "Switch",
        "z": "sd_CXz3EvC2oRyYAb6U",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Send response based on device type",
        "property": "sessionParams.data.isMobile",
        "propertyType": "bh.input",
        "propertyGv": "bh.input.sessionParams.data.isMobile",
        "rules": [
            {
                "t": "se",
                "v": "true",
                "vt": "str",
                "gv": "\"true\""
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_sQorT2Fw9UrB9jBh",
        "category": "Function",
        "x": 1001,
        "y": 1035.78125,
        "wires": [
            [
                "sd_12xqb73wGPDDlZf0"
            ],
            [
                "sd_q7yZ66ssMiy2DN0P"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_12xqb73wGPDDlZf0",
        "type": "Script",
        "z": "sd_CXz3EvC2oRyYAb6U",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Mobile html response",
        "script": "bh.local.htmlResponse = `\n <html>\n   <script>\n      let _timer;\n      _timer = setInterval(() => {\n                  if(window.webkit) {\n                      window.webkit.messageHandlers.cordova_iab.postMessage(JSON.stringify({'auth': 'success'}));\n                      clearInterval(_timer);\n                  }\n              }, 250);\n      \n   </script>\n</html>`;",
        "functionName": "sd_12xqb73wGPDDlZf0",
        "category": "Function",
        "x": 1229.390643119812,
        "y": 891.2812614440918,
        "wires": [
            [
                "sd_s8qzCaaRiW5o1TxZ"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_q7yZ66ssMiy2DN0P",
        "type": "Script",
        "z": "sd_CXz3EvC2oRyYAb6U",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Add location in headers obj",
        "script": "bh.local.redirectHeaders = {\n    location: bh.local.redirectTo\n}",
        "functionName": "sd_q7yZ66ssMiy2DN0P",
        "category": "Function",
        "x": 1218.890640258789,
        "y": 1152.5312690734863,
        "wires": [
            [
                "sd_koWMr56EpVBLgflO"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_s8qzCaaRiW5o1TxZ",
        "type": "HttpOut",
        "z": "sd_CXz3EvC2oRyYAb6U",
        "viewType": "server",
        "nodeType": "flow",
        "name": "Html response to close in app browser",
        "headers": {},
        "responseBody": {
            "type": "bh.local",
            "value": "htmlResponse",
            "ssd_typedInputField": true
        },
        "httpcode": "200",
        "responseType": "txt",
        "responseMapping": {
            "status": 200,
            "txt": "bh.local.htmlResponse",
            "send": "bh.local.htmlResponse"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_s8qzCaaRiW5o1TxZ",
        "category": "HTTP",
        "x": 1488.500020980835,
        "y": 1141.781265258789,
        "wires": [],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_koWMr56EpVBLgflO",
        "type": "HttpOut",
        "z": "sd_CXz3EvC2oRyYAb6U",
        "viewType": "server",
        "nodeType": "flow",
        "name": "Redirect back to app",
        "headers": {
            "type": "bh.local",
            "value": "redirectHeaders",
            "ssd_typedInputField": true
        },
        "responseBody": {
            "type": "literal",
            "value": "'Redirecting'",
            "ssd_typedInputField": true
        },
        "httpcode": "302",
        "responseType": "txt",
        "responseMapping": {
            "status": 302,
            "txt": "'Redirecting'",
            "send": "'Redirecting'"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Value",
            "cookies": "Map"
        },
        "functionName": "sd_koWMr56EpVBLgflO",
        "category": "HTTP",
        "x": 1483.000020980835,
        "y": 903.2812633514404,
        "wires": [],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_u1e1hiu1iA5oZPCC",
        "type": "Session",
        "z": "sd_CXz3EvC2oRyYAb6U",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "update",
        "data": "",
        "resultMapping": "",
        "dataMapping": "bh.local.userDetails",
        "functionName": "sd_u1e1hiu1iA5oZPCC",
        "category": "HTTP",
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.input",
                "value": ""
            },
            "dataMapping": {
                "type": "bh.local",
                "value": "userDetails"
            }
        },
        "x": 792,
        "y": 1036.78125,
        "wires": [
            [
                "sd_sQorT2Fw9UrB9jBh"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_zJlXsGxDxmMb8pBT",
        "type": "HttpIn",
        "z": "sd_CXz3EvC2oRyYAb6U",
        "viewType": "server",
        "nodeType": "start",
        "name": "Get userinfo",
        "path": "/user/info",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "get",
        "sequenceId": "IDSAuthroizedAPIs",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "httpOptions": {
            "/user/info": {
                "get": {
                    "summary": "",
                    "description": "",
                    "consumes": [],
                    "produces": [],
                    "parameters": [],
                    "responses": {}
                }
            }
        },
        "uploadFileOptions": {},
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "category": "HTTP",
        "x": 455.8125057220459,
        "y": 2060.734405517578,
        "wires": [
            [
                "sd_CSh25786IrSSJqlf"
            ]
        ],
        "generateNext": true,
        "serviceName": "ids",
        "functionName": "sd_zJlXsGxDxmMb8pBT"
    },
    {
        "id": "sd_CSh25786IrSSJqlf",
        "type": "Session",
        "z": "sd_CXz3EvC2oRyYAb6U",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "get",
        "data": "",
        "resultMapping": "bh.local.session",
        "dataMapping": "",
        "functionName": "sd_CSh25786IrSSJqlf",
        "category": "HTTP",
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.local",
                "value": "session"
            },
            "dataMapping": {
                "type": "bh.input",
                "value": ""
            }
        },
        "x": 653.0000057220459,
        "y": 2060.781280517578,
        "wires": [
            [
                "sd_Ujtsk5FI9oYH8qio"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_Ujtsk5FI9oYH8qio",
        "type": "HttpOut",
        "z": "sd_CXz3EvC2oRyYAb6U",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "headers": {},
        "responseBody": {
            "type": "bh.local",
            "value": "session.data.userInfo",
            "ssd_typedInputField": true
        },
        "httpcode": "200",
        "responseType": "obj",
        "responseMapping": {
            "status": 200,
            "obj": "bh.local.session.data.userInfo",
            "send": "bh.local.session.data.userInfo"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_Ujtsk5FI9oYH8qio",
        "category": "HTTP",
        "x": 819.0000057220459,
        "y": 2060.781280517578,
        "wires": [],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_wC6jllNAGK43nLUx",
        "type": "Catch",
        "z": "sd_CXz3EvC2oRyYAb6U",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "selectedNodes": [
            "sd_ChbBLBzMhmCkrfts",
            "sd_qLPCZLcLt2oIYND8",
            "sd_9H0AmFXI1QRHtvWD",
            "sd_r6c3nPn6lKuyhO17",
            "sd_t67nT54Qf4mbyuXb",
            "sd_sQorT2Fw9UrB9jBh",
            "sd_12xqb73wGPDDlZf0",
            "sd_q7yZ66ssMiy2DN0P",
            "sd_s8qzCaaRiW5o1TxZ",
            "sd_koWMr56EpVBLgflO"
        ],
        "selectCatchType": "selectednodes",
        "masternodeList": "",
        "ignoreList": "",
        "functionName": "sd_wC6jllNAGK43nLUx",
        "category": "General",
        "x": 98.89062976837158,
        "y": 1233.0000343322754,
        "wires": [
            [
                "sd_8lndWgOYi7fdiSlC"
            ]
        ],
        "generateNext": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_8lndWgOYi7fdiSlC",
        "type": "Script",
        "z": "sd_CXz3EvC2oRyYAb6U",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Redirect back to login",
        "script": "bh.web.res.redirect('/api/login')",
        "functionName": "sd_8lndWgOYi7fdiSlC",
        "category": "Function",
        "x": 262.50000381469727,
        "y": 1231.0312690734863,
        "wires": [
            []
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_jP7aeQZFZRg7svoZ",
        "type": "HttpIn",
        "z": "sd_CXz3EvC2oRyYAb6U",
        "viewType": "server",
        "nodeType": "start",
        "name": "Logout API",
        "path": "/logout",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "get",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "httpOptions": {
            "/logout": {
                "get": {
                    "summary": "",
                    "description": "",
                    "consumes": [],
                    "produces": [],
                    "parameters": [],
                    "responses": {}
                }
            }
        },
        "uploadFileOptions": {},
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "category": "HTTP",
        "x": 79.890625,
        "y": 1679.796875,
        "wires": [
            [
                "sd_HKqROO5cD0NHDqng"
            ]
        ],
        "generateNext": true,
        "serviceName": "ids",
        "functionName": "sd_jP7aeQZFZRg7svoZ"
    },
    {
        "id": "sd_HKqROO5cD0NHDqng",
        "type": "Session",
        "z": "sd_CXz3EvC2oRyYAb6U",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "get",
        "data": "",
        "resultMapping": "bh.local.sessionData",
        "dataMapping": "",
        "functionName": "sd_HKqROO5cD0NHDqng",
        "category": "HTTP",
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.local",
                "value": "sessionData"
            },
            "dataMapping": {
                "type": "bh.input",
                "value": ""
            }
        },
        "x": 249,
        "y": 1679.78125,
        "wires": [
            [
                "sd_sZVt8aPP6sJaq6zl"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_sZVt8aPP6sJaq6zl",
        "type": "Script",
        "z": "sd_CXz3EvC2oRyYAb6U",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "\nbh.local.sessionExists = false;\nif (bh.local.sessionData && bh.local.sessionData.data && bh.local.sessionData.data.tokenset) {\n    bh.local.sessionData['data']['redirectTo'] = bh.input.query['redirectTo'];\n    bh.local.sessionData['data']['isMobile'] = bh.input.query['isMobile'];\n    bh.local.sessionExists = true;\n} else {\n    delete bh.local.sessionData['redirectTo'];\n}",
        "functionName": "sd_sZVt8aPP6sJaq6zl",
        "category": "Function",
        "x": 413,
        "y": 1678.78125,
        "wires": [
            [
                "sd_ptDP2AgXwud8NFVZ"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_vXMKBPTKQFyNDqtc",
        "type": "Switch",
        "z": "sd_CXz3EvC2oRyYAb6U",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Session exists ",
        "property": "sessionExists",
        "propertyType": "bh.local",
        "propertyGv": "bh.local.sessionExists",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_vXMKBPTKQFyNDqtc",
        "category": "Function",
        "x": 885,
        "y": 1680,
        "wires": [
            [
                "sd_adtaN2jGi8obn4Fj"
            ],
            [
                "sd_Fn56bHs3zRcG9hta"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_adtaN2jGi8obn4Fj",
        "type": "Script",
        "z": "sd_CXz3EvC2oRyYAb6U",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "await Promise.all([\n    bh.local.sessionData.data.tokenset.access_token ? bh.input.client.revoke(bh.local.sessionData.data.tokenset.access_token, 'access_token') : undefined,\n    bh.local.sessionData.data.tokenset.refresh_token ? bh.input.client.revoke(bh.local.sessionData.data.tokenset.refresh_token, 'refresh_token') : undefined,\n]);\n\nbh.local.res = {\n        'idsURL': url.format(Object.assign(url.parse(bh.input.client.issuer.end_session_endpoint), {\n            search: null,\n            query: {\n                id_token_hint: bh.local.sessionData.data.tokenset.id_token,\n                post_logout_redirect_uri: url.resolve(bh.web.req.href, '/api/logout/cb'),\n                client_id: settings.default['ids']['client_id']\n            },\n        })),\n        'sessionExists': true,\n}\n\n// Remove user info and tokenset before login redirect\nbh.local.sessionData.data.tokenset = null;\nbh.local.sessionData.data.userInfo = null;",
        "functionName": "sd_adtaN2jGi8obn4Fj",
        "category": "Function",
        "x": 1045,
        "y": 1560,
        "wires": [
            [
                "sd_dCWCI7Lqpk6tk1KJ"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_ptDP2AgXwud8NFVZ",
        "type": "CallService",
        "z": "sd_CXz3EvC2oRyYAb6U",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Get IDS client instance",
        "outputs": 1,
        "noerr": 0,
        "service": {
            "serviceId": "sd_XW085r0Bmfy8m1IO",
            "serviceName": "idsutil"
        },
        "flow": {
            "flowId": "sd_XNet6LuWPVqD0XcY",
            "flowName": "getIDSClientInstance"
        },
        "inputVariables": [
            {
                "key": "clientInstance",
                "map": true,
                "valueType": "bh.input",
                "value": ""
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "input",
                "key": "clientInstance",
                "valueType": "bh.input",
                "value": "client",
                "mapVarName": "clientInstance",
                "localVar": "bh.input.client"
            }
        ],
        "callService": "idsutil",
        "startName": "getIDSClientInstance",
        "inputParams": [
            null
        ],
        "accept_bh": false,
        "functionName": "sd_ptDP2AgXwud8NFVZ",
        "category": "General",
        "x": 645,
        "y": 1680,
        "wires": [
            [
                "sd_vXMKBPTKQFyNDqtc"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_dOV9H2yA0HDLc96J",
        "type": "HttpOut",
        "z": "sd_CXz3EvC2oRyYAb6U",
        "viewType": "server",
        "nodeType": "flow",
        "name": "Send IDS logout Url",
        "headers": {},
        "responseBody": {
            "type": "bh.local",
            "value": "res",
            "ssd_typedInputField": true
        },
        "httpcode": "200",
        "responseType": "obj",
        "responseMapping": {
            "status": 200,
            "obj": "bh.local.res",
            "send": "bh.local.res"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_dOV9H2yA0HDLc96J",
        "category": "HTTP",
        "x": 1345,
        "y": 1680,
        "wires": [],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_Fn56bHs3zRcG9hta",
        "type": "Script",
        "z": "sd_CXz3EvC2oRyYAb6U",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.res = {\n        'sessionExists': false,\n}",
        "functionName": "sd_Fn56bHs3zRcG9hta",
        "category": "Function",
        "x": 1113.250015258789,
        "y": 1790.5312767028809,
        "wires": [
            [
                "sd_dOV9H2yA0HDLc96J"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_iDSW6QsMHIOFM9tE",
        "type": "HttpIn",
        "z": "sd_CXz3EvC2oRyYAb6U",
        "viewType": "server",
        "nodeType": "start",
        "name": "Logout Callback API",
        "path": "/logout/cb",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "get",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "httpOptions": {
            "/logout/cb": {
                "get": {
                    "summary": "",
                    "description": "",
                    "consumes": [],
                    "produces": [],
                    "parameters": [],
                    "responses": {}
                }
            }
        },
        "uploadFileOptions": {},
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "category": "HTTP",
        "x": 163.1406421661377,
        "y": 2441.0469074249268,
        "wires": [
            [
                "sd_xZsFRTeuYh2PJ2T0"
            ]
        ],
        "generateNext": true,
        "serviceName": "ids",
        "functionName": "sd_iDSW6QsMHIOFM9tE"
    },
    {
        "id": "sd_xZsFRTeuYh2PJ2T0",
        "type": "Session",
        "z": "sd_CXz3EvC2oRyYAb6U",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "get",
        "data": "",
        "resultMapping": "bh.local.sessionData",
        "dataMapping": "",
        "functionName": "sd_xZsFRTeuYh2PJ2T0",
        "category": "HTTP",
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.local",
                "value": "sessionData"
            },
            "dataMapping": {
                "type": "bh.input",
                "value": ""
            }
        },
        "x": 347.2500171661377,
        "y": 2442.0312824249268,
        "wires": [
            [
                "sd_Lt4MrVNfGfCldQkh"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_7HSyDbyDSNj1Msb4",
        "type": "Switch",
        "z": "sd_CXz3EvC2oRyYAb6U",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Check platform type",
        "property": "sessionData.data.isMobile",
        "propertyType": "bh.local",
        "propertyGv": "bh.local.sessionData.data.isMobile",
        "rules": [
            {
                "t": "se",
                "v": "true",
                "vt": "str",
                "gv": "\"true\""
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_7HSyDbyDSNj1Msb4",
        "category": "Function",
        "x": 665.2500171661377,
        "y": 2442.0312824249268,
        "wires": [
            [
                "sd_M1oeaJQ53qPFslNE"
            ],
            [
                "sd_wgqj19PcvuxbW9iY"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_M1oeaJQ53qPFslNE",
        "type": "Script",
        "z": "sd_CXz3EvC2oRyYAb6U",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.res = \n`<html>\n   <script>\n      var _timer;\n      _timer = setInterval(() => {\n                  if(window.webkit) {\n                      window.webkit.messageHandlers.cordova_iab.postMessage(JSON.stringify({'auth': 'success'}));\n                      clearInterval(_timer);\n                  }\n              }, 250);\n      \n   </script>\n</html>`;",
        "functionName": "sd_M1oeaJQ53qPFslNE",
        "category": "Function",
        "x": 850.2500171661377,
        "y": 2516.0312824249268,
        "wires": [
            [
                "sd_wihes2HnaIeq52Lz"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_wihes2HnaIeq52Lz",
        "type": "HttpOut",
        "z": "sd_CXz3EvC2oRyYAb6U",
        "viewType": "server",
        "nodeType": "flow",
        "name": "Send html response",
        "headers": {},
        "responseBody": {
            "type": "bh.local",
            "value": "res",
            "ssd_typedInputField": true
        },
        "httpcode": "200",
        "responseType": "obj",
        "responseMapping": {
            "status": 200,
            "obj": "bh.local.res",
            "send": "bh.local.res"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_wihes2HnaIeq52Lz",
        "category": "HTTP",
        "x": 1083.2500171661377,
        "y": 2315.0312824249268,
        "wires": [],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_wgqj19PcvuxbW9iY",
        "type": "Script",
        "z": "sd_CXz3EvC2oRyYAb6U",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.redirectHeaders = {\n    location: bh.local.sessionData.data.redirectTo\n}",
        "functionName": "sd_wgqj19PcvuxbW9iY",
        "category": "Function",
        "x": 849.2500171661377,
        "y": 2337.0312824249268,
        "wires": [
            [
                "sd_QSR7wTTs8OXkkhoE"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_QSR7wTTs8OXkkhoE",
        "type": "HttpOut",
        "z": "sd_CXz3EvC2oRyYAb6U",
        "viewType": "server",
        "nodeType": "flow",
        "name": "Redirect back to app",
        "headers": {
            "type": "bh.local",
            "value": "redirectHeaders",
            "ssd_typedInputField": true
        },
        "responseBody": {
            "type": "literal",
            "value": "'redirecting'",
            "ssd_typedInputField": true
        },
        "httpcode": "302",
        "responseType": "txt",
        "responseMapping": {
            "status": 302,
            "txt": "'redirecting'",
            "send": "'redirecting'"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Value",
            "cookies": "Map"
        },
        "functionName": "sd_QSR7wTTs8OXkkhoE",
        "category": "HTTP",
        "x": 1089.2500171661377,
        "y": 2516.0312824249268,
        "wires": [],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_Lt4MrVNfGfCldQkh",
        "type": "Session",
        "z": "sd_CXz3EvC2oRyYAb6U",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "destroy",
        "data": "",
        "resultMapping": "",
        "dataMapping": "",
        "functionName": "sd_Lt4MrVNfGfCldQkh",
        "category": "HTTP",
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.input",
                "value": ""
            },
            "dataMapping": {
                "type": "bh.input",
                "value": ""
            }
        },
        "x": 519.2500171661377,
        "y": 2442.0312824249268,
        "wires": [
            [
                "sd_7HSyDbyDSNj1Msb4"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_nuiKaLTY9dB6wYme",
        "type": "MiddlewareStart",
        "z": "sd_CXz3EvC2oRyYAb6U",
        "viewType": "server",
        "nodeType": "start",
        "name": "Authorize",
        "inputs": 0,
        "outputs": 1,
        "category": "HTTP",
        "x": 80.8125,
        "y": 3182.71875,
        "wires": [
            [
                "sd_bx50mXCzbMcFdX9E"
            ]
        ],
        "generateNext": true,
        "serviceName": "ids",
        "functionName": "sd_nuiKaLTY9dB6wYme"
    },
    {
        "id": "sd_hrBu3QzXQuay5XpM",
        "type": "Session",
        "z": "sd_CXz3EvC2oRyYAb6U",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "get",
        "data": "",
        "resultMapping": "bh.local.sessionData",
        "dataMapping": "",
        "functionName": "sd_hrBu3QzXQuay5XpM",
        "category": "HTTP",
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.local",
                "value": "sessionData"
            },
            "dataMapping": {
                "type": "bh.input",
                "value": ""
            }
        },
        "x": 386,
        "y": 3178.78125,
        "wires": [
            [
                "sd_fQfQUIRSgyebR7FA"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_TxOh9QnsM2mbipZR",
        "type": "Switch",
        "z": "sd_CXz3EvC2oRyYAb6U",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Check if session exists",
        "property": "sessionExists",
        "propertyType": "bh.local",
        "propertyGv": "bh.local.sessionExists",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_TxOh9QnsM2mbipZR",
        "category": "Function",
        "x": 679,
        "y": 3173.78125,
        "wires": [
            [
                "sd_Lp6UFbMME12lgYyl"
            ],
            [
                "sd_WZMGV3mLPanuyNyK"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_WZMGV3mLPanuyNyK",
        "type": "Switch",
        "z": "sd_CXz3EvC2oRyYAb6U",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Check if it is the user info API.",
        "property": "path",
        "propertyType": "bh.input",
        "propertyGv": "bh.input.path",
        "rules": [
            {
                "t": "cont",
                "v": "/user/info",
                "vt": "str",
                "gv": "\"/user/info\""
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_WZMGV3mLPanuyNyK",
        "category": "Function",
        "x": 641,
        "y": 3388.78125,
        "wires": [
            [
                "sd_3t8rZaX0ckhgkSQs"
            ],
            [
                "sd_EWYVZn9ptcW5RYpo"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_DCsDShwWCvFtF9WH",
        "type": "HttpOut",
        "z": "sd_CXz3EvC2oRyYAb6U",
        "viewType": "server",
        "nodeType": "flow",
        "name": "Send the session not present response",
        "headers": {},
        "responseBody": {
            "type": "bh.local",
            "value": "res",
            "ssd_typedInputField": true
        },
        "httpcode": "403",
        "responseType": "obj",
        "responseMapping": {
            "status": 403,
            "obj": "bh.local.res",
            "send": "bh.local.res"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_DCsDShwWCvFtF9WH",
        "category": "HTTP",
        "x": 1205,
        "y": 3366.78125,
        "wires": [],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_3t8rZaX0ckhgkSQs",
        "type": "Script",
        "z": "sd_CXz3EvC2oRyYAb6U",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.res = { message: 'Session expired' };",
        "functionName": "sd_3t8rZaX0ckhgkSQs",
        "category": "Function",
        "x": 892.890625,
        "y": 3386.78125,
        "wires": [
            [
                "sd_DCsDShwWCvFtF9WH"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_EWYVZn9ptcW5RYpo",
        "type": "Script",
        "z": "sd_CXz3EvC2oRyYAb6U",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.res = { code: 'NO_SESSION', message: 'Session not present' };",
        "functionName": "sd_EWYVZn9ptcW5RYpo",
        "category": "Function",
        "x": 885,
        "y": 3522.8125,
        "wires": [
            [
                "sd_DCsDShwWCvFtF9WH"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_p9KR8Sv2CWvz6WKv",
        "type": "Switch",
        "z": "sd_CXz3EvC2oRyYAb6U",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Token exists after refresh",
        "property": "newSession",
        "propertyType": "bh.local",
        "propertyGv": "bh.local.newSession",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_p9KR8Sv2CWvz6WKv",
        "category": "Function",
        "x": 846,
        "y": 2953.78125,
        "wires": [
            [
                "sd_b4D7oFLcK6QgtI2i"
            ],
            [
                "sd_tJ3ell1NxZ82qeVi"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_jNCcjQbB1xHx0jpl",
        "type": "MiddlewareEnd",
        "z": "sd_CXz3EvC2oRyYAb6U",
        "viewType": "server",
        "nodeType": "flow",
        "name": "Authorize end",
        "headers": {},
        "responseBody": {
            "type": "literal",
            "value": "'end'",
            "ssd_typedInputField": true
        },
        "httpcode": "200",
        "responseType": "next",
        "responseMapping": {
            "status": 200,
            "next": "'end'"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_jNCcjQbB1xHx0jpl",
        "category": "HTTP",
        "x": 1484,
        "y": 2956.703125,
        "wires": [],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_q3v2OT4wSk10Vbuc",
        "type": "Script",
        "z": "sd_CXz3EvC2oRyYAb6U",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.res = { code: 'TOKEN_EXPIRED', message: 'Token invalid or access revoked' };",
        "functionName": "sd_q3v2OT4wSk10Vbuc",
        "category": "Function",
        "x": 884,
        "y": 3259.78125,
        "wires": [
            [
                "sd_DCsDShwWCvFtF9WH"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_Lp6UFbMME12lgYyl",
        "type": "CallService",
        "z": "sd_CXz3EvC2oRyYAb6U",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Call handleTokenExpiry",
        "outputs": 1,
        "noerr": 0,
        "service": {
            "serviceId": "sd_XW085r0Bmfy8m1IO",
            "serviceName": "idsutil"
        },
        "flow": {
            "flowId": "sd_TQx1HbIu2hnOQpH6",
            "flowName": "handleTokenExpiry"
        },
        "inputVariables": [
            {
                "key": "existingSession",
                "map": true,
                "valueType": "bh.local",
                "value": "sessionData"
            },
            {
                "key": "newSession",
                "map": true,
                "valueType": "bh.input",
                "value": ""
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "input",
                "key": "newSession",
                "valueType": "bh.local",
                "value": "newSession",
                "mapVarName": "newSession",
                "localVar": "bh.local.newSession"
            }
        ],
        "callService": "idsutil",
        "startName": "handleTokenExpiry",
        "inputParams": [
            "bh.local.sessionData",
            null
        ],
        "accept_bh": false,
        "functionName": "sd_Lp6UFbMME12lgYyl",
        "category": "General",
        "x": 631,
        "y": 2951.78125,
        "wires": [
            [
                "sd_p9KR8Sv2CWvz6WKv"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_bx50mXCzbMcFdX9E",
        "type": "Script",
        "z": "sd_CXz3EvC2oRyYAb6U",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local = {\n    \n}",
        "functionName": "sd_bx50mXCzbMcFdX9E",
        "category": "Function",
        "x": 227.890625,
        "y": 3180.78125,
        "wires": [
            [
                "sd_hrBu3QzXQuay5XpM"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_fQfQUIRSgyebR7FA",
        "type": "Script",
        "z": "sd_CXz3EvC2oRyYAb6U",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.sessionExists = false;\n\nif (bh.local.sessionData && bh.local.sessionData.data && bh.local.sessionData.data.tokenset &&\n    bh.local.sessionData.data.tokenset.access_token && bh.local.sessionData.data.tokenset.refresh_token) {\n    bh.local.sessionExists = true;\n}",
        "functionName": "sd_fQfQUIRSgyebR7FA",
        "category": "Function",
        "x": 550,
        "y": 3178.78125,
        "wires": [
            [
                "sd_TxOh9QnsM2mbipZR"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_b4D7oFLcK6QgtI2i",
        "type": "Session",
        "z": "sd_CXz3EvC2oRyYAb6U",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "destroy",
        "data": "",
        "resultMapping": "",
        "dataMapping": "",
        "functionName": "sd_b4D7oFLcK6QgtI2i",
        "category": "HTTP",
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.input",
                "value": ""
            },
            "dataMapping": {
                "type": "bh.input",
                "value": ""
            }
        },
        "x": 887,
        "y": 3093.78125,
        "wires": [
            [
                "sd_q3v2OT4wSk10Vbuc"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_tJ3ell1NxZ82qeVi",
        "type": "Switch",
        "z": "sd_CXz3EvC2oRyYAb6U",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Update session if token rotated",
        "property": "newSession.rotated",
        "propertyType": "bh.local",
        "propertyGv": "bh.local.newSession.rotated",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_tJ3ell1NxZ82qeVi",
        "category": "Function",
        "x": 1051,
        "y": 2956.78125,
        "wires": [
            [
                "sd_rVbDd7WPvDSaFsGf"
            ],
            [
                "sd_jNCcjQbB1xHx0jpl"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_ISLMaU73cT9Et40g",
        "type": "Session",
        "z": "sd_CXz3EvC2oRyYAb6U",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "update",
        "data": "",
        "resultMapping": "bh.local.newSession",
        "dataMapping": "bh.local.newSession",
        "functionName": "sd_ISLMaU73cT9Et40g",
        "category": "HTTP",
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.local",
                "value": "newSession"
            },
            "dataMapping": {
                "type": "bh.local",
                "value": "newSession"
            }
        },
        "x": 1331,
        "y": 2827.78125,
        "wires": [
            [
                "sd_jNCcjQbB1xHx0jpl"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_rVbDd7WPvDSaFsGf",
        "type": "Script",
        "z": "sd_CXz3EvC2oRyYAb6U",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "delete bh.local.newSession.rotated;",
        "functionName": "sd_rVbDd7WPvDSaFsGf",
        "category": "Function",
        "x": 1192,
        "y": 2827.78125,
        "wires": [
            [
                "sd_ISLMaU73cT9Et40g"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_xLidlP0QLKNs3RfS",
        "type": "Comments",
        "z": "sd_CXz3EvC2oRyYAb6U",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Idenity Server Login API",
        "comments": "<p>API used to authenticate users.</p>",
        "category": "General",
        "x": 685,
        "y": 58.78125,
        "wires": [],
        "generateNext": true
    },
    {
        "id": "sd_xSEYD9bZXaieccgI",
        "type": "Comments",
        "z": "sd_CXz3EvC2oRyYAb6U",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Flow to add href to bh of the Origin",
        "comments": "",
        "category": "General",
        "x": 664,
        "y": 590.78125,
        "wires": [],
        "generateNext": true
    },
    {
        "id": "sd_GoLpkTeypjN2NRm2",
        "type": "Comments",
        "z": "sd_CXz3EvC2oRyYAb6U",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Login Callback API",
        "comments": "<p>After authentication, this is the API called by IDS to get Access token and user info</p>",
        "category": "General",
        "x": 685,
        "y": 897.2265625,
        "wires": [],
        "generateNext": true
    },
    {
        "id": "sd_AeEo3CWTSeQN6AuS",
        "type": "Comments",
        "z": "sd_CXz3EvC2oRyYAb6U",
        "viewType": "common",
        "nodeType": "flow",
        "name": "IDS Logout API",
        "comments": "<p>API to redirect the user to IDS Logout page</p>",
        "category": "General",
        "x": 720.0000114440918,
        "y": 1527.226583480835,
        "wires": [],
        "generateNext": true
    },
    {
        "id": "sd_7Hw29DtP9FgfRwXO",
        "type": "Comments",
        "z": "sd_CXz3EvC2oRyYAb6U",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Fetch user info",
        "comments": "The API called by neutrinos-oauth-client module internally to fetch user info.",
        "category": "General",
        "x": 651.2500095367432,
        "y": 1947.2265892028809,
        "wires": [],
        "generateNext": true
    },
    {
        "id": "sd_EeZRoTZC9vsXUSh5",
        "type": "Comments",
        "z": "sd_CXz3EvC2oRyYAb6U",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Redirect the user back to Login",
        "comments": "<p>Redirect back to /login if the flow cannot fetch user info or access token.</p>",
        "category": "General",
        "x": 177.50000381469727,
        "y": 1310.9765815734863,
        "wires": [],
        "generateNext": true
    },
    {
        "id": "sd_PBdVuZnJlz53MCGJ",
        "type": "Comments",
        "z": "sd_CXz3EvC2oRyYAb6U",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Check Authorization",
        "comments": "Use this middleware flow for all authorized APIs.",
        "category": "General",
        "x": 813.75,
        "y": 2805.9765625,
        "wires": [],
        "generateNext": true
    },
    {
        "id": "sd_X3F0o5lY0HGoWmns",
        "type": "Comments",
        "z": "sd_CXz3EvC2oRyYAb6U",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Logout Callback API",
        "comments": "<p>The API redirected by IDS to destroy the user session.</p>",
        "category": "General",
        "x": 581.25,
        "y": 2288.4765625,
        "wires": [],
        "generateNext": true
    },
    {
        "id": "sd_Oj4U7jMfHDTRIJrZ",
        "type": "Catch",
        "z": "sd_CXz3EvC2oRyYAb6U",
        "viewType": "common",
        "nodeType": "start",
        "name": "Catch HandleTokenExpiry",
        "selectedNodes": [
            "sd_Lp6UFbMME12lgYyl"
        ],
        "selectCatchType": "selectednodes",
        "masternodeList": "",
        "ignoreList": "",
        "functionName": "sd_Oj4U7jMfHDTRIJrZ",
        "category": "General",
        "x": 765,
        "y": 3260,
        "wires": [
            [
                "sd_q3v2OT4wSk10Vbuc"
            ]
        ],
        "generateNext": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_dCWCI7Lqpk6tk1KJ",
        "type": "Session",
        "z": "sd_CXz3EvC2oRyYAb6U",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "update",
        "data": "",
        "resultMapping": "bh.local.session",
        "dataMapping": "bh.local.sessionData.data",
        "functionName": "sd_dCWCI7Lqpk6tk1KJ",
        "category": "HTTP",
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.local",
                "value": "session",
                "constant": false
            },
            "dataMapping": {
                "type": "bh.local",
                "value": "sessionData.data",
                "constant": false
            }
        },
        "x": 1205,
        "y": 1560,
        "wires": [
            [
                "sd_dOV9H2yA0HDLc96J"
            ]
        ],
        "generateNext": false,
        "generated": true
    }
]
